@font-face {
  font-family: bgmi;
  src: url(../../assets/fonts/bgmi.ttf) format(truetype);
}
:root {
  --modalbg: #0f1923;
  --textColorR: #ff4655;
  --textColorW: #ffffff;
}
h1 {
  color: white;
}


.ToastContainer {
  z-index: 10000;
}
.toast {
  z-index: 10000 !important;
}
h2 {
  font-family: bgmi;
  color: var(--textColorR);
}
p {
  color: var(--textColorW);
}
h4 {
  color: var(--textColorW);
}
h5 {
  color: var(--textColorW);
}
#congrats {
  font-family: bgmi;
  font-size: 40px;
  color: #eca800;
}
.responseModal {
  background-color: #0f1923;
}
.modalheader {
  background-color: var(--modalbg);
}
.modalbody {
  background-color: var(--modalbg);
  justify-content: center;
  align-items: center;
}
.modalfooter {
  background-color: var(--modalbg);
}
.Closebtn {
  background-image: url(../../assets/imgs/Vector.png);
  background-size: 25px;
}
/* .paymentlabel {
  h4 {
    font-size: 20px;
  }
} */

h4{
  font-size: 2rem;
  letter-spacing: 1px;

}
.submitbtn {
  display: flex;
  height: 61px;
  width: 116px;
  background: var(--btn1);
  color: var(--textColour);
  text-decoration: none;
  font-family: bgmi;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  font-weight: 400;
  transition: 0.3s;
  border: 2px solid var(--borderColour);
}
.footerSpinner {
  display: block;
  justify-content: center;
}
.formfields {
  margin-right: 100px;
  margin-left: 20px;
}
.btn-close {
  background-image: url("../../assets/imgs/Vector.png");
  background-color: aqua;
}
.registerbtn {
  background: rgba(255, 255, 255, 0.08);
  background-color: #ff4655;
  color: #ffffff;
  text-decoration: none;
  font-family: bgmi;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 1rem 1rem;
  transition: 0.3s;
  border: 2px solid #ff4655;
}
.container {
  display: flex;
}
@media (max-width: 994px) {
  .container {
    display: block;
  }
  .formfields {
    margin-right: 0;
  }
  .modalfooter {
    display: flex;
    justify-content: center;
  }
  #congrats {
    font-size: 33px;
  }
}
