@font-face {
    font-family: bgmi;
    src: url(../../assets/fonts/bgmi.ttf) format(truetype);
}

.timerContainer {
    background-color: rgba(217, 217, 217, 0.1);
    border: 1px solid;
    border-color: black;
    height: 100px;
    width: 100px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    backdrop-filter: blur(2px);
}

.textContainer {
    margin: 0 12px;
}

.textDigit {
    font-size: 48px;
    color: black;
    font-weight: 600;
    
}

.textTimeFormat {
    margin-top: 15px;
    font-size: 24px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    
}

.mainContainer {
    display: flex;
    width: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    font-family: bgmi;
}

@media screen and (max-width:750px) {
    .textDigit {
        font-size: 40px
    }

    .timerContainer {
        height: 90px;
        width: 90px;
    }

    .textTimeFormat {
        font-size: 18px;
    }
}

@media screen and (max-width:600px) {
    .textDigit {
        font-size: 30px
    }

    .timerContainer {
        height: 70px;
        width: 70px;
    }

    .textTimeFormat {
        font-size: 15px;
    }
}

@media screen and (max-width:400px) {
    .textDigit {
        font-size: 30px
    }

    .timerContainer {
        height: 65px;
        width: 65px;
    }

    .textTimeFormat {
        font-size: 15px;
    }
}