@font-face {
  font-family: bgmi;
  src: url(../../assets/fonts/bgmi.ttf) format(truetype);
}
.faqs{
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.faq_container {
  padding: 2rem 4rem;
}
h1 {
  font-family: bgmi;
  color: black;
  text-align: center;
  /* font: 400; */
  font-size: 4rem;
  
  
}
.arrow{
  color: green
  
}

.footer {
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background: #0f1923;
  height: 8.5rem;
  border-radius: 5rem 5rem 0 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.wrapper {
  font-family: bgmi;
  color: grey;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-style: normal;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  letter-spacing: 1px;
}

.wrapper .collapsible {
  width: 100%;
  overflow: hidden;
}

.wrapper .collapsible input {
  display: none;
}

.wrapper .collapsible label {
  box-sizing: border-box;
  position: relative;
  color: #ffffff;
  background: #0f1923;
  display: block;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  z-index: 1;
  /* font-size: 2rem; */
  box-shadow: 2px 2px 60px 4px rgba(170, 170, 170, 0.2);
}

.wrapper .collapsible label .arrow {
  position: absolute;
  right: 25px;
  top: 25px;
  background-image: url("../../assets/imgs/caret-down-solid.svg");
  width: 20px;
  height: 20px;
  display: block;
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.wrapper .collapsible .collapsible_text {
  width: 100%;
  max-height: 1px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.wrapper input:checked ~ .collapsible_text {
  max-height: 400px;
  width: 100%;
  padding: 10px;;
  text-align: center;
  opacity: 1;
  top: 0;
}

.wrapper input:checked ~ label .arrow {
  position: absolute;
  right: 25px;
  top: 25px;
  background-image: url("../../assets/imgs/caret-up-solid.svg");
}

@media screen and (max-width: 768px) {
  .wrapper .collapsible label {
    font-size: 1.5rem;
    padding: 15px;
  }

  .wrapper .collapsible label .arrow {
    right: 20px;
    top: 20px;
  }
  h1{
    font-size: 3.75rem;
  }
  .wrapper input:checked~label .arrow {
    right: 20px;
    top: 20px;
  }
}


@media screen and (max-width: 480px) {
  .wrapper .collapsible label {
    /* font-size: 1.4rem; */
    padding: 10px;

  }
  .arrow{
    font-size: 1.4rem;
  }

  .wrapper .collapsible label .arrow {
    right: 15px;
    top: 15px;
  }
  h1{
    font-size: 2.5rem;
  }
  .wrapper input:checked~label .arrow {
    right: 15px;
    top: 15px;
  }
}

@media (max-width: 675px) {
  .faq_container {
    padding: 4rem 2rem;
  }
}
@media (max-width: 460px){
  .footer button
{
 scale: .8;
  margin: 0

}}
